

<section class="section">
    <header class="header">
        <h3 class="header__title">Listado de encuesta</h3>
        <a [routerLink]="['nueva-encuesta']"  class="btn btn-sm btn-success">Agregar</a>
    </header>
    
    <table class="tabla-body">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>  
                <th>Descripción</th>  
                <th>Fecha cierre</th>
                <th>Publicado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody *ngFor="let encuesta of encuestas">               
            <tr>
                <td>{{encuesta.id}}</td>
                <td>{{encuesta.titulo}}</td> 
                <td>{{encuesta.descripcion | slice:0:27}}...</td>  
                <td>{{encuesta.fechaFinal | date: 'short'}}</td> 
                <td>
                    <span *ngIf="!encuesta.estado" class="badge text-bg-danger">No</span>
                    <span *ngIf="encuesta.estado" class="badge text-bg-success">Si</span>
                </td>
                <td>
                    <button class="button " (click)="verResumen(encuesta?.id)" title="Lista de respuestas"><i class="fa-solid fa-people-group"></i></button>
                    <button class="button btn-info" (click)="verEncuesta(encuesta?.hash)" title="Ver"><i class="fa-regular fa-eye"></i></button>
                    <button class="button button-primary" (click)="publicarEncuesta(encuesta.id)" title="Publicar"> <i class="fa-solid fa-bullhorn"></i> </button>
                    <button class="button delete-button" (click)="eliminarEncuesta(encuesta.id)"  title="Eliminar"><i class="fa-regular fa-trash-can"></i></button>
                    <button class="button btn-warning"  (click)="editarEncuesta(encuesta.id)" title="Modifica"><i class="fa-regular fa-pen-to-square"></i></button>
                </td>
            </tr>            
        </tbody>         
    </table>
</section>