
.login{
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 70px 0px;
    align-items: center;
    flex-wrap: wrap;
  
}

.form{
    margin-top: 3rem;
}
.form__input{
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}
.form__paragraph{
    color: #767474;
}

.login__picture img{
    display: block;
    margin: 0 auto;
    width: 50%;
}