<div class="section">
    <h3 class="header__title">Reporte de encuestado</h3>
    <hr>
    <div class="col-md-6">
        <div class="mb-3 d-flex gap-2">
            <select class="form-select"(change)="obtenerResultados($event)" >
                <option selected>Seleccione una encuesta</option>
                <option [value]="encuesta.id"  *ngFor="let encuesta of encuestas">{{encuesta.titulo}}</option>
          
              </select>
              <button class="mostrar" (click)="verReporte()" class="btn btn-primary">Mostrar</button>
        </div>
    
    </div>
    <div *ngIf="mostar">
        <app-grafico-bar #grafico [mostrar]="mostar"></app-grafico-bar>
    </div>
</div>
