/* You can add global styles to this file, and also import other style files */

body,html{
  height: 100%;

}

.section{
  padding: 2.5rem;
  border: 1px solid #cccc;
  background: white;
  border-radius: 4px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.logo{
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn{
    display: block;
    align-self: center;
    padding: 10px 25px;
}
button.btn-info{
  background-color: #1a73e8;
  color: white;
}

thead tr th{
    font-weight: 600;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e5e5e5;
}

.button{
    display: inline-block;
    padding: 8px 16px;
    align-self: center;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  .bg-white{
    background: white;
  }
  .bg-gray{
   background: #f2f2f2;
   height: 100%;
  }
  .header__title{
    font-size: 1.5rem;
}
  .button-primary {
    background-color: #00BFA6;
    color: white;
  }
  button.btn-warning{
    background-color: #ffc107;

  }
  
  .delete-button:hover{
    background-color: #d32f2f;
  }
  
  .delete-button:active, .edit-button:active {
    background-color: #b71c1c;
  }

  .pointer{
    cursor: pointer;
  }
.action{
  width: 300px;
}
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    .action{
      width: 100%;
    }
    .section{
      padding: 0.5rem;
      margin: 0px 0.5rem;
    }
  }
  
  
  
  
  
  
  
  